.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #333333;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.fullscreen-loader {
    justify-content: center;
    align-items: center;
    position: absolute;

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 